<aside class="left-toolbar">
  <div class="app-logo-box"><div class="app-logo"></div></div>

 <div class="top-menu">
  <div class="blocks"></div>
  {{!-- <div class="containers"></div> --}}
 </div>

 <div class="bottom-menu">
  <button data-mode="linking" class="button js-layout-mapper {{#eq state.section 'linking'}} active {{/eq}} bm-tooltip" data-placement="right">
    <span class="icon-linking"></span>
    <div class="tooltip-box"><div class="tooltip-text">Link zone with shared layout zone</div></div>
  </button>
  <button data-mode="shared_collections" class="button bm-tooltip" data-placement="right">
    <span class="icon-saved_config"></span>
    <div class="tooltip-box"><div class="tooltip-text">Manage saved collection configurations</div></div>
  </button>
  <button data-mode="clt" class="button bm-tooltip" data-placement="right">
    <span class="icon-change_layout"></span>
    <div class="tooltip-box"><div class="tooltip-text">Change layout type</div></div>
  </button>
 </div>
</aside>

{{debug state.section}}
{{yield}}
