<aside class="left-toolbar">
  <div class="app-logo-box"><div class="app-logo"></div></div>

 <div class="top-menu">
  <div class="blocks"></div>
  <div class="containers"></div>
 </div>


 <div class="bottom-menu">
  <button class="button js-layout-mapper {{active_class_if state.mode_zone_link}}"><span class="icon">L</span></button>
  <button class="button"><span class="icon">NC</span></button>
  <button class="button"><span class="icon">CLT</span></button>
 </div>
</aside>


{{yield}}
