<div class="loading-overlay"></div>

<aside class="left-toolbar">
  <div class="app-logo-box"><div class="app-logo ngl-tooltip" title="{{layouts_version}}"></div></div>

 <div class="top-menu">
  <div class="blocks"></div>
  {{!-- <div class="containers"></div> --}}
 </div>

 <div class="bottom-menu"></div>
</aside>


{{yield}}
