<aside class="left-toolbar">
  <div class="app-logo-box"><div class="app-logo"></div></div>

 <div class="top-menu">
  <div class="blocks"></div>
  {{!-- <div class="containers"></div> --}}
 </div>

 <div class="bottom-menu">
  <button data-mode="linking" class="button js-layout-mapper {{#eq state.section 'linking'}} active {{/eq}} bm-tooltip" title="Link zone with shared layout zone">
    <span class="icon-linking"></span>
  </button>

  <button data-mode="translate" class="button js-layout-translate {{#eq state.section 'translate'}} active {{/eq}} bm-tooltip" title="Translate layout">
    <span class="icon-translation"></span>
  </button>

  {{!-- <button data-mode="shared_collections" class="button bm-tooltip" title="Manage saved collection configurations">
    <span class="icon-saved_config"></span>
  </button>
  <button data-mode="clt" class="button bm-tooltip" title="Change layout type">
    <span class="icon-change_layout"></span>
  </button> --}}
 </div>
</aside>


{{yield}}
