<aside class="left-toolbar">
  <div class="app-logo-box"><div class="app-logo"></div></div>

 <div class="top-menu">
  <div class="blocks"></div>
  <div class="containers"></div>
 </div>


 <div class="bottom-menu">
  <button data-mode="linking" class="button js-layout-mapper {{#eq state.mode 'linking'}} active {{/eq}}"><span class="icon">L</span></button>
  <button data-mode="named_collections" class="button"><span class="icon">NC</span></button>
  <button data-mode="clt" class="button"><span class="icon">CLT</span></button>
 </div>
</aside>


{{yield}}
