.left-toolbar-panels {
  .left-panel {
    position:fixed;
    left:$leftWidth;
    top:$topHeight;
    bottom:0;
    border-top:1px solid $toolbarBorderColor;
    width:$leftPanelWidth;
    background:$toolbarbg2;
    display:none;
    .panel-content {
      position:absolute;
      overflow-y:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
      padding:$gutter;
    }
    .close-panel {
      position:absolute;
      right:0.25em;
      top:0.25em;
      width:1.5em;
      height:1.5em;
      cursor:pointer;
      text-align:right;
      color:$toolbarColor;
      z-index:2;
      i {
        font-size:18px;
      }
      &:hover {
        color:#fff;
      }
    }
    .header {
      position:relative;
      h2 {
        font-size:0.75em;
        font-weight:500;
        line-height:1.25;
        text-transform:uppercase;
        margin:0 0 0.5em;
      }
    }
    .block-items {
      margin:0 0 1.5em;
      display:flex;
      flex-wrap:wrap;
      &::after {
        @extend %clearfix;
      }
    }
    .add-block-btn {
      border:none;
      border-bottom:1px solid $toolbarbg2;
      border-right:1px solid $toolbarbg2;
      width:33.333333333333%;
      &:nth-child(3n) {
        border-right:none;
      }
    }
  }
}

.add-block-btn {
  cursor:grab;
  background:hsl(0, 0, 29);
  color:$toolbarColor;
  text-align:center;
  width:($leftPanelWidth - 11) / 3;
  border:1px solid $toolbarbg2;
  padding:0.25em 0.25em 0.625em;
  transition:background 0.15s ease, color 0.15s ease;
  &:hover {
    background:hsl(0, 0, 36);
    color:#fff;
  }
  .icon {
    @extend %icomoon;
    display:block;
    font-size:2em;
    height:48px;
    line-height:48px;
    margin-bottom:0.125em;
  }

  $blockTypes: ('title', '\e916'), ('title_with_h3', '\e916'), ('text', '\e918'), ('map', '\e90d'), ('html_snippet', '\e90a'), ('list', '\e91a'), ('grid', '\e909'), ('slider', '\e913'), ('thumb_gallery', '\e915'), ('grid_gallery', '\e908'), ('sushi_bar', '\e914'), ('rich_text', '\e912'), ('external_video', '\e917'), ('full_view', '\e91d'), ('twig_block', '\e920'), ('ezcontent_field', '\e91c'), ('markdown', '\e922');

  @each $block in $blockTypes {
    &.#{nth($block, 1)} .icon::before {
      content:"#{nth($block, 2)}";
    }
  }

  .title {
    font-size:0.625em;
    display:block;
    line-height:1.2;
  }
}
