.left-toolbar-panels {
  .left-panel {
    position:fixed;
    left:$leftWidth;
    top:$topHeight;
    bottom:0;
    border-top:1px solid $toolbarBorderColor;
    width:$leftPanelWidth;
    background:$toolbarbg2;
    display:none;
    .panel-content {
      position:absolute;
      overflow-y:scroll;
      top:0;
      bottom:0;
      left:0;
      right:0;
      padding:$gutter;
    }
    .close-panel {
      position:absolute;
      right:0.25em;
      top:0.25em;
      width:1.5em;
      height:1.5em;
      cursor:pointer;
      text-align:right;
      color:$toolbarColor;
      z-index:2;
      i {
        font-size:18px;
      }
      &:hover {
        color:#fff;
      }
    }
    .header {
      position:relative;
      h2 {
        font-size:0.75em;
        font-weight:500;
        line-height:1.25;
        text-transform:uppercase;
        margin:0 0 0.5em;
      }
    }
    .block-items {
      margin:0 0 1.5em;
      display:flex;
      flex-wrap:wrap;
      &::after {
        @extend %clearfix;
      }
    }
    .add-block-btn {
      border:none;
      border-bottom:1px solid $toolbarbg2;
      border-right:1px solid $toolbarbg2;
      width:33.333333333333%;
      &:nth-child(3n) {
        border-right:none;
      }
    }
  }
}

.add-block-btn {
  cursor:grab;
  background:hsl(0, 0, 29);
  color:$toolbarColor;
  text-align:center;
  width:($leftPanelWidth - 11) / 3;
  border:1px solid $toolbarbg2;
  padding:0.25em 0.25em 0.625em;
  transition:background 0.15s ease, color 0.15s ease;
  &:hover {
    background:hsl(0, 0, 36);
    color:#fff;
  }
  .icon {
    @extend %icomoon;
    display:block;
    font-size:2em;
    height:48px;
    line-height:48px;
    margin-bottom:0.125em;
  }
  &.title .icon::before {
    content:"\e916";
  }
  &.title_with_h3 .icon::before {
    content:"\e916";
  }
  &.text .icon::before {
    content:"\e918";
  }
  &.map .icon::before {
    content:"\e90d";
  }
  &.html_snippet .icon::before {
    content:"\e90a";
  }
  &.list .icon::before {
    content:"\e91a";
  }
  &.grid .icon::before {
    content:"\e909";
  }
  &.slider .icon::before {
    content:"\e913";
  }
  &.thumb_gallery .icon::before {
    content:"\e915";
  }
  &.grid_gallery .icon::before {
    content:"\e908";
  }
  &.sushi_bar .icon::before {
    content:"\e914";
  }
  &.rich_text .icon::before {
    content:"\e912";
  }
  &.external_video .icon::before {
    content:"\e917";
  }
  .title {
    font-size:0.625em;
    display:block;
    line-height:1.2;
  }
}
