.left-toolbar-panels {
  .left-panel {
    position:fixed;
    left:$leftWidth;
    top:$topHeight;
    bottom:0;
    width:$leftPanelWidth;
    background:$toolbarbg3;
    display:none;
    .panel-content {
      background:$toolbarbg1;
      position:absolute;
      overflow-y:scroll;
      top:0;
      bottom:0;
      left:0.625em;
      right:0;
      border-left:1px solid $toolbarBorderColor;
      box-shadow:0px 0 0.5em rgba(0, 0, 0, 0.35);
    }
    .close-panel {
      position:absolute;
      right:0.5em;
      top:0.5em;
      width:1.5em;
      height:1.5em;
      cursor:pointer;
      text-align:right;
      color:#fff;
      z-index:2;
    }
    .header {
      padding:0.75em 1.5em 0.75em 0.5em;
      position:relative;
      background:$toolbarbg2;
      h2 {
        font-size:0.875em;
        font-weight:400;
        line-height:1.25;
        margin:0;
      }
    }
    .block-items {
      margin:0 0 1.5em;
      &::after {
        @extend %clearfix;
      }
    }
    .add-block-btn {
      border:none;
      border-bottom:1px solid $toolbarBorderColor;
      border-right:1px solid $toolbarBorderColor;
      width:33.333333333333%;
      &:nth-child(3n) {
        border-right:none;
      }
    }
  }
}

.add-block-btn {
  cursor:grab;
  background:$toolbarbg1;
  color:#fff;
  float:left;
  text-align:center;
  width:($leftPanelWidth - 11) / 3;
  border:1px solid $toolbarBorderColor;
  height:90px;
  .icon {
    @extend %icomoon;
    display:block;
    font-size:2em;
    height:48px;
    line-height:48px;
    margin-top:0.1875em;
    color:hsl(212, 19, 60);
  }
  &.title .icon::before {
    content:"\e916";
  }
  &.title_with_h3 .icon::before {
    content:"\e916";
  }
  &.text .icon::before {
    content:"\e918";
  }
  &.map .icon::before {
    content:"\e90d";
  }
  &.html_snippet .icon::before {
    content:"\e90a";
  }
  &.list .icon::before {
    content:"\e90b";
  }
  &.grid .icon::before {
    content:"\e909";
  }
  &.slider .icon::before {
    content:"\e913";
  }
  &.thumb_gallery .icon::before {
    content:"\e915";
  }
  &.grid_gallery .icon::before {
    content:"\e908";
  }
  &.sushi_bar .icon::before {
    content:"\e914";
  }
  .title {
    font-size:0.6875em;
    display:block;
    padding:0 0.3636em;
    line-height:1.2;
  }
}
