/* blocks */
[data-block] {
  position: relative;
  border: 1px solid $blockbg;
  background: $blockbg;
  padding: $blockHeaderHeight + .625 $gutter * .5 $gutter * .5;
  cursor: pointer;
  + [data-block] {
    margin-top: $gutter * .5;
  }
  .block-header {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    color: hsl(0, 0, 55);
    cursor: -webkit-grab;
    cursor: grab;
    display: flex;
    > * {
      display: flex;
      align-items: center;
    }
    .template_name {
      margin-left: 1em;
      font-size: .625em;
      text-transform: uppercase;
      padding: 0 .75em 0 0;
      font-weight: 700;
      &:empty {
        display: none;
      }
    }
    .name {
      flex: 1;
      font-size: .625em;
      .ai {
        display: none;
      }
    }
    .handle {
      line-height: $blockHeaderHeight;
      padding: 0 .5714285714em;
      cursor: -webkit-grab;
      cursor: grab;
      i {
        display: block;
        line-height: inherit;
        opacity: .4;
      }
    }
    .dropdown {
      .dropdown-toggle {
        height: $blockHeaderHeight;
        padding: 0 .25em;
      }
    }
    .status {
      font-size: .625rem;
      margin: 0 1em;
      font-weight: 700;
      i {
        font-size: 1.6em;
        margin-right: .25em;
      }
    }
    + * {
      margin-top: 0;
    }
  }

  form {
    display: none;
  }
  &.editing,
  &.editing:hover,
  &.ui-sortable-helper {
    border-color: $btnprimary;
    > .block-header {
      background: $btnprimary;
      color: #fff;
      .template_name {
        color: inherit;
      }
    }
  }
  &:hover {
    border-color: $btnprimary;
  }
  :focus {
    outline: none;
  }

  .notice {
    margin-bottom: .83333333334em;
    color: hsl(0, 0, 63);
    text-align: center;
    font-size: .75em;
    i {
      font-size: 1.5em;
      color: hsl(0, 0, 75);
      position: relative;
      top: .222222222222222em;
    }
  }

  .info {
    text-align: center;
    font-size: .875em;
    padding: 1em;
    background: rgba(0, 0, 0, .035);
    display: flex;
    .info-icon {
      text-align: center;
      font-size: 3em;
      color: hsl(0, 0, 50);
      margin-right: 1.25rem;
      display: flex;
    }
    .msg {
      display: flex;
      align-items: center;
    }
  }

  .embed16x9 {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .map-embed {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
  }
  &[data-container] {
    background: $toolbarbg2;
    border-color: $toolbarbg2;
    padding: $blockHeaderHeight + .625 $gutter * .6666666667 $gutter * .6666666667;
    &:hover,
    &.editing,
    &.editing:hover,
    &.ui-sortable-helper {
      border-color: $toolbarbg2;
    }
    > .block-header {
      color: #fff;
    }
  }
}

[data-placeholder]:not(.rich-text-editor) {
  min-height: 6.25rem;
  padding: $gutter * .6666666667;
  outline: 1px dashed #bfbfbf;
  &.forbidden {
    .no-placeholder {
      display: none;
    }
  }
}

[data-block],
[data-zone] {
  .dropdown {
    @extend .dropdown-1;
  }
}


.dropdown-1 {
  display: inline-block;
  .dropdown-toggle {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 0 .25em;
  }
  &.open {
    .dropdown-toggle {
      background: hsl(0, 0, 25);
      color: #fff;
    }
  }
  .dropdown-menu {
    margin: 0;
    border: 0;
    padding: .5em 0;
    background: hsl(0, 0, 25);
    border-radius: 0;
    box-shadow: none;
    font-size: .75em;
    > li {
      cursor: pointer;
      text-align: right;
      &.divider {
        background-color: rgba(255, 255, 255, .1);
        margin: .25em auto;
        width: 90%;
      }
      > a {
        padding: .5em 1em;
        color: #fff;
        transition: color 150ms, background-color 150ms;
        .note {
          display: block;
          color: hsl(0, 0, 65);
          font-weight: 300;
          font-size: .75em;
          transition: color 150ms;
        }
        &:hover,
        &:focus {
          background: hsla(0, 0, 100, .05);
        }
      }
    }
  }
}

/* block d&d placeholder */
.no-placeholder {
  font-size: .625rem;
  height: .4em;
  color: $highlightColor;
  background: currentColor;
  margin: $gutter 0;
  position: relative;
  z-index: 9999;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -.6em;
    border: 0 solid transparent;
  }
  &::before {
    border-left-color: currentColor;
    border-width: .8em 0 .8em 1em;
    left: 0;
  }
  &::after {
    border-right-color: currentColor;
    border-width: .8em 1em .8em 0;
    right: 0;
  }
  .blocks & {
    display: none;
  }
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: -1px;
  .grid-item {
    padding: .5rem .5rem 0;
    background: rgba(0, 0, 0, .035);
    border: 1px solid $blockbg;
    font-size: .75em;
    word-break: break-word;
    @for $i from 1 through 12 {
      &.cols-#{$i} {
        flex-basis: 100% / $i;
      }
    }
  }
}
.list-row {
  .list-item {
    background: rgba(0, 0, 0, .035);
    padding: .5rem;
    margin: .125rem 0;
    @extend %clearfix;
  }
}

.grid-row,
.list-row {
  .image {
    float: left;
    margin-right: .75rem;
    max-width: 5rem;
  }
  img {
    width: 100%;
  }
  .name {
    overflow: hidden;
    min-width: 5rem;
  }
  .image,
  .name {
    margin-bottom: .5rem;
  }
  .value-type {
    color: hsl(0, 0, 65);
    font-style: italic;
    margin-bottom: .5em;
    clear: both;
    font-size: 1rem;
    p {
      margin: 0;
      font-size: .75em;
    }
  }
  .dummy-block-item {
    color: hsl(0, 0, 88);
    .image {
      width: 5rem;
      height: 2.8125rem;
      background: currentColor;
    }
    .name {
      &::before,
      &::after {
        content: '';
        display: block;
        margin: 0 0 .45em;
        height: .75em;
        background: currentColor;
      }
      &::after {
        margin-right: 1.5em;
      }
    }
  }
}

.external-video-block {
  background: rgba(0, 0, 0, .035);
  position: relative;
  min-height: 5rem;
  .js-video-thumb {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  &::after {
    @extend .material-icons;
    content: 'play_circle_filled';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: rgba(255, 255, 255, .75);
    text-shadow: 0 0 .25em rgba(0, 0, 0, .5);
  }
}

.rich-text-editor {
  ul,
  ol {
    padding-left: 1em;
  }
  &:empty:not(:focus)::before {
    margin-bottom: .625em;
    display: block;
    color: #666;
  }
}
