/* change layout type */
.mini-zone-view {
  margin: 0 0 1em;
  border: 1px dashed hsl(0, 0, 75);
  background: $toolbarbg1;
  .mini-zone-item {
    display: flex;
    align-items: center;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    padding: .75em .5em .75em 1.375em;
    color: #fff;
    position: relative;
  }
  .handle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1.3571428571em;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875em;
    color: hsl(0, 0, 50);
    i {
      transform: rotate(90deg);
    }
  }
  .name {
    font-size: .75em;
    line-height: 1.4166666667;
    margin: 0;
    flex: 1;
  }
  &.shared-zone {
    .mini-zone-item {
      @include striped-bg(lighten($toolbarbg1, 7%), $toolbarbg1);
    }
  }
  &.ui-sortable-helper {
    max-height: 6.25rem !important;
  }
}

.change-layout-from-to {
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid hsla(0, 0, 100, .2);
  h3 {
    text-align: center;
    margin: 0 0 1em;
  }
  .layouts {
    margin-bottom: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: .875rem;
    .image {
      width: 5.5rem;
      height: 7.9375rem;
      border: 1px solid hsl(0, 0, 40);
      padding: .25rem;
      border-radius: 2px;
      img {
        opacity: .4;
        width: 100%;
        object-fit: cover;
      }
    }
    > i {
      margin: 2.5em .4em 0;
    }
    label {
      display: block;
      font-weight: 400;
      margin: .5em 0 0;
    }
  }
}

.chooser-zones {
  h5 {
    text-align: center;
    margin: 0 0 1em;
  }
  .no-placeholder {
    display: none;
  }
}

.change-layout-success {
  text-align: center;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  i {
    color: hsl(0, 0, 50);
    font-size: 5rem;
  }
  p {
    margin: 0;
  }
}

.all_done {
  .change-layout-success {
    opacity: 1;
  }
  .chooser-zones {
    display: none;
  }
}

[data-zone-receiver] {
  outline: 1px dashed hsl(0, 0, 75);
  min-height: 6em;
  padding: $gutter * .6666666667;
  margin: 0 0 $gutter * 1.25;
  > [data-view] + [data-view] {
    margin: 1rem 0 0;
  }
  .zone-body {
    margin: 0;
  }
  &.forbidden {
    .no-placeholder {
      display: none;
    }
  }
}
[data-zone-wrapper].has_shared_zone [data-zone-receiver] {
  outline-color: $highlightColor;
}
[data-zone-wrapper].has_shared_zone .no-placeholder {
  display: none;
}
[data-zone] {
  > {
    .name {
      color: #fff;
      padding: .8em .5em;
      font-size: .625em;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.zone-view {
  .zone-body {
    padding: 2.25em .375em .375em;
  }
  .zone-map-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #fff;
    text-align: center;
    background: rgba($contentbg, .75);
    .zone-map-name {
      cursor: -webkit-grabbing;
      cursor: grabbing;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: .4em .5em;
      .handle {
        opacity: .6;
        i {
          vertical-align: middle;
        }
      }
      p {
        margin: 0 0 0 1em;
        font-size: .625em;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .zone-unmap {
      position: absolute;
      right: .4285em;
      top: .357em;
      padding: .1em 0;
    }
  }
  &.ui-sortable-helper {
    outline: 1px dashed hsl(0, 0, 75);
    max-height: 12.5rem;
    &.linked_zone {
      @include striped-bg(lighten($toolbarbg1, 7%), $toolbarbg1);
    }
    [data-block] {
      display: none;
    }
    .zone-unmap {
      display: none;
    }
  }
}
