/* collection item */
$itemHeight: 2.625rem;
.item-panel {
  background: #fff;
  border-radius: $borderRadius;
  padding: .25em 0 .25em 1.375em;
  position: relative;
  display: flex;
  align-items: center;
  color: #333;
  width: 100%;
  height: $itemHeight;
  .handle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1.1428571429em;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875em;
    opacity: .5;
    i {
      transform: rotate(90deg);
    }
  }
  &.ui-sortable-helper {
    .handle {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .name {
    font-size: .75em;
    line-height: 1.4166666667;
    margin: 0;
    flex: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.8333333333em;
  }
  .controls {
    font-size: .875em;
    color: #8c8c8c;
    position: relative;
    min-width: 2.7142857143em;
    button {
      border: 0;
      background: transparent;
      color: inherit;
      vertical-align: middle;
      padding: 0 .5em;
      i {
        display: block;
      }
    }
    .dropdown {
      visibility: hidden;
      &.open {
        visibility: visible;
        + .item-position {
          visibility: hidden;
        }
      }
      &.dropup {
        .dropdown-menu {
          &::before {
            top: 100%;
            bottom: auto;
            transform: rotate(180deg);
          }
        }
      }
    }
    .dropdown-menu {
      border: 0;
      background: $toolbarbg2;
      color: #fff;
      font-size: .75rem;
      text-align: right;
      width: 100%;
      margin-top: .75em;
      &::before {
        content: '';
        position: absolute;
        right: .8em;
        bottom: 100%;
        border-bottom: .75em solid $toolbarbg2;
        border-left: .75em solid transparent;
        border-right: .75em solid transparent;
      }
      a {
        color: inherit;
        padding: .5em .8333333em;
        cursor: pointer;
        &:hover,
        &:focus {
          background: hsla(0, 0, 100, .05);
          color: inherit;
        }
      }
    }
  }
  &:hover {
    .dropdown {
      visibility: visible;
    }
    .item-position {
      visibility: hidden;
    }
  }
  &.ui-draggable-dragging {
    .dropdown {
      visibility: hidden;
    }
  }
  .item-position {
    font-size: .75rem;
    text-align: right;
    padding: 0 .5em 0 0;
    color: #757575;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  .status-icon {
    padding: .125em;
    color: #8c8c8c;
    i {
      vertical-align: middle;
      font-size: .875rem;
    }
  }
  .collection-item:not(.cloned-manual) > &.overridden-item {
    .name {
      color: #999;
    }
  }
  .collection-item:not(.sorting) & {
    &.overridden-item {
      width: 40%;
      border-radius: $borderRadius 0 0 $borderRadius;
      padding-right: .75em;
      background: #dedede;
      transition: width .2s;
      .controls {
        display: none;
      }
      &:hover,
      &.item-editing-position {
        width: 80%;
        .controls {
          display: block;
        }
        + .override-item {
          width: calc(20% + 2px);
          .controls {
            display: none;
          }
        }
      }
    }
  }
  &.override-item {
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    width: calc(60% + 2px);
    padding-left: 1em;
    transition: width .2s;
    box-shadow: -.125em 0 .25em hsla(0, 0, 0, .25);
  }
  .collection-item.sorting & {
    &.override-item {
      display: none;
    }
  }
}
.collection-item {
  margin: 0 0 .25em;
  position: relative;
  height: $itemHeight;
  &.ui-sortable-placeholder {
    border: 1px dashed rgba(255, 255, 255, .25) !important;
    visibility: visible !important;
    background: transparent;
  }
  &.overflown-item {
    .item-panel {
      background: #d5d5d5;
    }
    .handle {
      cursor: default;
      opacity: .15;
    }
  }
  &.sorting {
    &.manual-item {
      .item-panel {
        opacity: .75;
      }
    }
    &.dynamic-item {
      outline: 1px dashed #999;
      .item-panel {
        opacity: 0;
      }
    }
    &.highlight:not(.cloned-manual) {
      outline: 1px dashed #999;
      background: hsla(0, 0, 100, 1);
      .item-panel {
        opacity: 0;
      }
    }
    &.sorting-hidden {
      display: none;
    }
    &.start-item {
      .item-panel {
        opacity: .2;
      }
      &.highlight {
        background: transparent;
        .item-panel {
          opacity: .9;
        }
      }
    }
    .override-item {
      .name {
        opacity: 0;
      }
    }
  }
  .item-edit-position {
    position: absolute;
    display: flex;
    align-items: stretch;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    animation: fadeIn .2s;
    input[type='number'] {
      #sidebar & {
        margin: 0;
        height: auto;
        background: transparent;
        color: #333;
        &:focus {
          outline: none;
        }
      }
    }
    .btn {
      border-radius: 0;
      border: 0;
      display: flex;
      align-items: center;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-collection {
  position: relative;
  .collection-loader {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $toolbarbg1;
    color: #ddd;
    font-size: .75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      text-transform: uppercase;
      display: block;
      margin-top: 1.5em;
    }
  }
}

.bm-items {
  margin: 0 0 1rem;
  position: relative;
  &.bm-items-loading {
    > * {
      opacity: .1;
    }
  }
}

.bm-overflown {
  > p {
    font-size: .75em;
    margin: 0;
  }
  #sidebar & > .toggle-link {
    margin: 0;
  }
  .bm-overflown-items {
    margin-top: .75em;
  }
  .bm-overflown-before & {
    margin: 0 0 1rem;
    padding: 0 0 .75rem;
    border-bottom: 1px dashed #8c8c8c;
  }
  .bm-overflown-after & {
    margin: 1rem 0;
    padding: .75rem 0 0;
    border-top: 1px dashed #8c8c8c;
  }
}

.overflown-items-collapsed {
  text-align: center;
  .js-show-items {
    color: #fff;
    display: inline-block;
    padding: .5em;
    position: relative;
    &:hover {
      color: #d0d0d0;
    }
    i {
      vertical-align: middle;
    }
  }
  .overflown-count {
    position: absolute;
    font-size: .6875em;
    line-height: 1.4em;
    text-align: left;
    left: 2.7em;
    top: 1.2em;
  }
}
.bm-overflown-items-wrapper {
  position: relative;
  .js-hide-items {
    position: absolute;
    z-index: 2;
    left: 50%;
    color: #fff;
    background: $toolbarbg1;
    &:hover {
      color: #d0d0d0;
    }
    i {
      vertical-align: middle;
      &::before {
        content: 'expand_more';
      }
    }
    .bm-overflown-after & {
      bottom: 100%;
      transform: translate3d(-50%, 50%, 0);
      i {
        &::before {
          content: 'expand_less';
        }
      }
    }
    .bm-overflown-before & {
      top: 100%;
      bottom: auto;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

[data-disabled='true'] > .collection-item {
  .controls,
  .handle {
    display: none;
  }
}
