/* zones */
[data-zone] {
  outline:0px solid transparent;
  min-height:2em;
  padding:$gutter*0.5;
  background:$zonebg;
  margin:0 0 $gutter;
  &:empty:before {
    content:'Drop content here!';
    color:#999;
    font-size:0.875em;
    padding:0.5em;
    display:block;
  }
  &.zone_type_inherited:empty:before {
    content:'Inherited zone!'
  }
  .sorting & {
    outline:1px dashed #FFC91E;
    @include transition(all 0.3s ease-in-out);
  }
}
.zone_type_inherited {
  outline-color:#f00;
}

/* blocks */
[data-block] {
  position:relative;
  border:1px solid #EDEEEF;
  background:#fff;
  padding:$gutter*1.5 $gutter*0.5 $gutter*0.5;
  + [data-block] {
    margin-top:$gutter*0.5;
  }
  .block-header {
    position:absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    color:#fff;
    cursor:-webkit-grab;
    cursor:grab;
    .template_name{
      float:right;
      background:rgba($toolbarbg2, 0.5);
      font-size:0.625em;
      color:#fff;
      padding:0.3em 0.5em;
      display:inline-block;
      cursor:default;
      &:empty {
        display: none;
      }
    }
    .handle {
      display:none;
      float:left;
      text-align:center;
      line-height:0.2857142857em;
      padding:0.4285714286em 0.5714285714em;
      font-size:0.875em;
      cursor:-webkit-grab;
      cursor:grab;
      .fa {
        display:block;
        line-height:inherit;
      }
    }
    .action-destroy {
      display:none;
      float:right;
      font-size:0.75em;
      height:1.6666666667em;
      line-height:1.6666666667em;
      padding:0 0.5em;
      cursor:pointer;
    }
  }
  .handle {

  }
  form {
    display:none;
  }
  &:hover,
  &.editing,
  &.editing:hover,
  &.ui-sortable-helper {
    border-color:#4388AB;
    .block-header {
      background:#4388AB;
      .handle,
      .action-destroy {
        display:block;
      }
    }
  }
  &:hover {
    border-color:#A9C5E4;
    .block-header {
      background:#A9C5E4;
    }
  }
  :focus {
    outline:none;
  }
  .no-placeholder {
    color:#f0d;
    margin-left:0;
    margin-right:0;
  }
}
.no-placeholder {
  height:2px;
  color:#cc0;
  background:currentColor;
  margin:$gutter 0;
  position:relative;
  &::before,
  &::after {
    content:"";
    display:block;
    position:absolute;
    top:-3px;
    border:0px solid transparent;
  }
  &::before {
    border-left-color:currentColor;
    border-width:4px 0 4px 6px;
    left:0;
  }
  &::after {
    border-right-color:currentColor;
    border-width:4px 6px 4px 0;
    right:0;
  }
}

.blocks .no-placeholder{display:none;}
