/* zones */
[data-zone] {
  position: relative;
  outline:1px dashed #676767;
  min-height:4em;
  padding:$gutter*0.6666666667;
  margin:0 0 $gutter*1.25;
  &:empty::before {
    content:'Drop blocks here!';
    color:#999;
    font-size:0.875em;
    padding:1em;
    text-align: center;
    display:block;
  }
  &.zone_type_inherited:empty::before {
    content:'Inherited zone!'
  }
  .sorting & {
    //outline:1px dashed #FFC91E;
    @include transition(all 0.3s ease-in-out);
  }
}
.zone_type_inherited {
  outline-color:#f00;
}

/* blocks */
[data-block] {
  position:relative;
  border:1px solid #EDEEEF;
  background:$blockbg;
  padding:$gutter*1.5 $gutter*0.5 $gutter*0.5;
  + [data-block] {
    margin-top:$gutter*0.5;
  }
  .block-header {
    position:absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    color:#fff;
    cursor:-webkit-grab;
    cursor:grab;
    .template_name{
      float:right;
      background:rgba($toolbarbg2, 0.5);
      font-size:0.625em;
      color:#fff;
      padding:0.3em 0.5em;
      display:inline-block;
      cursor:default;
      &:empty {
        display: none;
      }
    }

    .handle {
      display:none;
      float:left;
      text-align:center;
      line-height:0.2857142857em;
      padding:0.4285714286em 0.5714285714em;
      font-size:0.875em;
      cursor:-webkit-grab;
      cursor:grab;
      .fa {
        display:block;
        line-height:inherit;
      }
    }
    .name{float:left; font-size:0.82em; }
    .block-action {
      display:none;
      float:right;
      font-size:0.75em;
      height:1.6666666667em;
      line-height:1.6666666667em;
      padding:0 0.5em;
      cursor:pointer;
      &:hover {
        background:rgba(0, 0, 0, 0.1);
      }
    }
  }

  .block-header + *{margin-top:0;}
  .handle {

  }
  form {
    display:none;
  }
  &:hover,
  &.editing,
  &.editing:hover,
  &.ui-sortable-helper {
    border-color:#4388AB;
    .block-header {
      background:#4388AB;
      .handle,
      .block-action {
        display:block;
      }
    }
  }
  &:hover {
    border-color:#A9C5E4;
    .block-header {
      background:#A9C5E4;
    }
  }
  :focus {
    outline:none;
  }
  .no-placeholder {
    color:#f0d;
    margin-left:0;
    margin-right:0;
  }
}
.no-placeholder {
  height:4px;
  color:#f3590a;
  background:currentColor;
  margin:$gutter 0;
  position:relative;

  z-index: 9999;
  &::before,
  &::after {
    content:"";
    display:block;
    position:absolute;
    top:-6px;
    border:0px solid transparent;
  }
  &::before {
    border-left-color:currentColor;
    border-width:8px 0 8px 10px;
    left:0;
  }
  &::after {
    border-right-color:currentColor;
    border-width:8px 10px 8px 0;
    right:0;
  }
}

.blocks .no-placeholder{display:none;}

.grid-row {
  display:flex;
  flex-wrap:wrap;
  margin:-2px;
  .grid-item {
    padding:8px;
    background:rgba(0, 0, 0, 0.035);
    border:2px solid $blockbg;
    font-size:0.75em;
    word-break:break-word;
    @for $i from 1 through 12 {
      &.cols-#{$i} {
        flex-basis:100% / $i;
      }
    }
  }
}
.list-row {
  .list-item {
    background:rgba(0, 0, 0, 0.035);
    padding:8px;
    font-size:0.75em;
    margin:2px 0;
    + .list-item {
      margin-top:4px;
    }
  }
}



.notice {
  margin-bottom:10px; color:#666;
  .fa{font-size:1.2em; color:#999; margin-right:4px; vertical-align:text-bottom;}
  .msg{font-size: 0.92em;}
}



.new_layout{
  form{
    input[type="submit"]{display:none;}
    > div+div{margin-top:20px;}
    label{font-weight:normal;}
    input[type="text"]{padding:5px;}
    label + ul{margin:-0.5em 0 0.85em 0; padding:0; list-style:none; color:#d00; font-size:0.92em;}
  }
  .layout-type{
     $selected_color: #4b91e2;
     input{display:none;}
     label{margin-right:20px; font-size:0.86em; font-weight:normal; text-align:center; cursor: pointer;}
     label:before{content:""; display:block; width:76px; height:100px; background:#ccc; border:2px solid #ccc; background-size: cover; background-repeat:no-repeat; margin-bottom:4px;}
     label:hover{
      $hover_color: lighten($selected_color, 10%);
      &{color: $hover_color;}
      &:before{border-color: $hover_color;}
     }
     input:checked + label{color:$selected_color;}
     input:checked + label:before{border-color:$selected_color;}
     [value="3_zones_a"] + label:before{background-image:url(../images/layout_thumbs/1_zones_a.png);}
     [value="3_zones_b"] + label:before{background-image:url(../images/layout_thumbs/2_zones_smart.png);}

     [value="1_zones_a"] + label:before{background-image:url(../images/layout_thumbs/1_zones_a.png);}
     [value="2_zones_smart"] + label:before{background-image:url(../images/layout_thumbs/2_zones_smart.png);}
     [value="4_zones_a"] + label:before{background-image:url(../images/layout_thumbs/4_zones_a.png);}
     [value="4_zones_b"] + label:before{background-image:url(../images/layout_thumbs/4_zones_b.png);}
     [value="4_zones_c"] + label:before{background-image:url(../images/layout_thumbs/4_zones_c.png);}
     [value="6_zones_a"] + label:before{background-image:url(../images/layout_thumbs/6_zones_a.png);}

  }
}

.external-video-block {
  background:rgba(0, 0, 0, 0.035);
  position:relative;
  .js-video-thumb {
    margin:0 auto;
    width:100%;
    max-width:320px;
    display:block;
  }
  &::after {
    @extend %fontawesome;
    content:"\f144";
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:42px;
    color:rgba(255, 255, 255, 0.75);
    text-shadow:0 0 15px rgba(0, 0, 0, 0.5);
  }
}

.ae-ui {
  .ae-toolbar,
  [class^=ae-toolbar-] {
    z-index:100;
  }
}



.ae-placeholder:empty:not(:focus):before{margin-bottom:10px; display:block; color:#666;}




#app.preview{
  aside,
  footer,
  header .layout-name,
  header .actions{display:none;}
  .main-content{
    top: 80px;
    right: 80px;
    bottom: 10px;
    left: 80px;
  }

  .zone_linker{
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: rgba(white,.9);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  [data-zone]:hover .zone_linker{
    opacity: 1;
  }

}


.zone_chooser{
  background: rgba(255,255,255,1);
  z-index: 9999;
  text-align: center;
  padding: 100px 0;
}


.disabler{
  position: absolute;
  top:0;
  right: 0;
  bottom:0;
  left:0;
  background: rgba(0,0,0,.5);
  z-index: 999;
}


