/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-300.eot');
  src: url('../fonts/Roboto/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('../fonts/Roboto/Roboto-300.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-300.woff') format('woff'),
       url('../fonts/Roboto/Roboto-300.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-regular.eot');
  src: url('../fonts/Roboto/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../fonts/Roboto/Roboto-regular.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-regular.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-500.eot');
  src: url('../fonts/Roboto/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../fonts/Roboto/Roboto-500.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-500.woff') format('woff'),
       url('../fonts/Roboto/Roboto-500.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-700.eot');
  src: url('../fonts/Roboto/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('../fonts/Roboto/Roboto-700.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-700.woff') format('woff'),
       url('../fonts/Roboto/Roboto-700.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-700.svg#Roboto') format('svg');
}


/* icomoon */
@font-face {
  font-family: 'netgen_layouts';
  src:  url('../fonts/netgen_layouts.eot?1ps4yu');
  src:  url('../fonts/netgen_layouts.eot?1ps4yu#iefix') format('embedded-opentype'),
    url('../fonts/netgen_layouts.ttf?1ps4yu') format('truetype'),
    url('../fonts/netgen_layouts.woff?1ps4yu') format('woff'),
    url('../fonts/netgen_layouts.svg?1ps4yu#netgen_layouts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'netgen_layouts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-translation:before {
  content: "\e925";
}

.icon-col:before {
  content: "\e924";
}
.icon-button:before {
  content: "\e923";
}
.icon-markdown:before {
  content: "\e922";
}
.icon-change_layout:before {
  content: "\e91b";
}
.icon-ez_content_field:before {
  content: "\e91c";
}
.icon-ibexa_content_field:before {
  content: "\e91c";
}
.icon-full_view:before {
  content: "\e91d";
}
.icon-linking:before {
  content: "\e91e";
}
.icon-saved_config:before {
  content: "\e91f";
}
.icon-twig_block:before {
  content: "\e920";
}
.icon-zone:before {
  content: "\e921";
}
.icon-block:before {
  content: "\e919";
}
.icon-add:before {
  content: "\e900";
}
.icon-col2:before {
  content: "\e901";
}
.icon-col3:before {
  content: "\e902";
}
.icon-col4:before {
  content: "\e903";
}
.icon-col6:before {
  content: "\e90c";
}
.icon-slider:before {
  content: "\e913";
}
.icon-list_blocks:before {
  content: "\e91a";
}
.icon-text:before {
  content: "\e918";
}
.icon-banner:before {
  content: "\e904";
}
.icon-banner_slider:before {
  content: "\e905";
}
.icon-blurb_group:before {
  content: "\e906";
}
.icon-container:before {
  content: "\e907";
}
.icon-gallery_grid:before {
  content: "\e908";
}
.icon-grid:before {
  content: "\e909";
}
.icon-html_snippet:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
.icon-map:before {
  content: "\e90d";
}
.icon-masonry:before {
  content: "\e90e";
}
.icon-multi_container:before {
  content: "\e90f";
}
.icon-multi_container-2:before {
  content: "\e910";
}
.icon-quote:before {
  content: "\e911";
}
.icon-rich_text:before {
  content: "\e912";
}
.icon-sushi_bar:before {
  content: "\e914";
}
.icon-thumb:before {
  content: "\e915";
}
.icon-title:before {
  content: "\e916";
}
.icon-video:before {
  content: "\e917";
}

/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
