/* header */
.app-header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:$topHeight;
  background:$toolbarbg1;
  border-bottom:1px solid $toolbarBorderColor;
  color:#fff;
  .layout-name {
    float:left;
    padding:0 $gutter;
    display:flex;
    height:$topHeight;
    align-items:center;
    h1 {
      margin:0;
      font-size:1em;
      cursor:pointer;
      &::after {
        @extend %fontawesome;
        content:"\f040";
        display:inline-block;
        margin-left:1em;
        color:$mainColor;
        font-size:0.75em;
        pointer-events:none;
      }
      &:hover {
        &::after {
          color:darken($mainColor, 5%);
        }
      }
      &:focus {
        &::after {
          visibility: hidden;
        }
      }
    }
  }
  .app-logo {
    float:left;
    width:$leftWidth;
    height:$topHeight;
    background:#f3590a url("../images/ngadmin-logo-w.svg") no-repeat center center;
    background-size:1.25em auto;
  }
  .actions {
    float:right;
    padding:0.5em $gutter;
  }
  :focus {
    outline:none;
  }
}

/* left toolbar */
.left-toolbar {
  position:fixed;
  top:$topHeight;
  left:0;
  bottom:0;
  width:$leftWidth;
  background:$toolbarbg1;
  color:$toolbarColor;
  z-index:30;
  border-right:1px solid $toolbarBorderColor;
  .left-toolbar-buttons {
    .button {
      display:block;
      border:none;
      background:transparent;
      width:$leftWidth;
      height:$leftWidth;
      line-height:$leftWidth;
      text-align:center;
      border-color:$toolbarBorderColor;
      border-width:1px 0;
      border-style:solid;
      margin-top:-1px;
      font-size:1.5em;
      transition:color 150ms, background-color 150ms;
      &:focus {
        outline:none;
      }
      &:hover {
        background:hsla(0, 0, 100, 0.05);
      }
      &.active {
        background:$toolbarbg3;
      }
      &::before {
        @extend %icomoon;
      }
      &[data-target="blocks"]::before {
        content:"\e919";
      }
    }
  }
}

/* content */
.main-content {
  position:fixed;
  left:$leftWidth;
  right:$rightWidth;
  top:$topHeight;
  bottom:$bottomHeight;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:$gutter;
  background:$contentbg;
}

/* footer */
.app-footer {
  position:fixed;
  bottom:0;
  left:$leftWidth;
  right:$rightWidth;
  height:$bottomHeight;
  background:$footerbg;
}
