/* header */
.app-header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:$topHeight;
  background:$toolbarbg2;
  color:#fff;
  padding-left:$leftWidth;
  .layout-name {
    float:left;
    padding:7px $gutter;
    .shared-label{
      display: inline-block;
      line-height: 34px;
      font-weight: bold;
    }
    .js-show-form {
      display:inline-block;
      font-size:1em;
      cursor:pointer;
      padding:0 0.5em;
      height:$btnHeight;
      line-height:$btnHeight;
      i {
        color:$mainColor;
        margin-left:4px;
        font-size:1em;
        vertical-align:middle;
      }
    }
    form {
      display: inline-block;
      input[type="text"] {
        border:none;
        box-shadow:none;
        border-radius:0;
        padding:0 0.5em;
        height:$btnHeight;
        font-size:1em;
        margin:0;
        background:$sidebarinput;
        cursor:pointer;
        color:#fff;
        display:inline-block;
        width:auto;
      }
      .btns {
        display:inline-block;
      }
    }
    h1 {
      margin:0;
      font-size:1em;
      cursor:pointer;
      &::after {
        @extend %material-icons;
        content:"edit";
        display:inline-block;
        margin-left:1em;
        color:$mainColor;
        font-size:0.75em;
        pointer-events:none;
      }
      &:hover {
        &::after {
          color:darken($mainColor, 5%);
        }
      }
      &:focus {
        &::after {
          visibility: hidden;
        }
      }
    }
  }
  .app-logo-box {
    position:absolute;
    left:0;
    top:0;
    width:$leftWidth;
    height:$topHeight;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .app-logo {
    font-size:11px;
    display:inline-block;
    color:$btnprimary;
    &::before,
    &::after {
      content:"";
      display:block;
      background:currentColor;
      border-radius:50%;
      width:1em;
      height:1em;
    }
    &::after {
      width:1.375em;
      height:1.375em;
      margin:-0.125em 0 0 1em;
    }
  }
  .actions {
    float:right;
    padding:0.5em $gutter;
  }
  :focus {
    outline:none;
  }
}

/* left toolbar */
.left-toolbar {
  position:fixed;
  top:$topHeight;
  left:0;
  bottom:0;
  width:$leftWidth;
  background:$toolbarbg1;
  color:$toolbarColor;
  z-index:30;
  border-top:1px solid $toolbarBorderColor;
  .bottom-menu{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .button {
    display:block;
    border:none;
    background:transparent;
    width:$leftWidth;
    height:$leftWidth;
    line-height:$leftWidth;
    text-align:center;
    border-color:$toolbarBorderColor;
    border-width:0 0 1px;
    border-style:solid;
    font-size:1.5em;
    transition:color 150ms, background-color 150ms;
    &:focus {
      outline:none;
    }
    &:hover {
      background:$toolbarBorderColor;
    }
    &.active {
      background:$toolbarbg2;
    }
    &::before {
      @extend %icomoon;
    }
    &[data-target="blocks"]::before {
      content:"\e900";
    }
  }

}

/* content */
.main-content {
  position:fixed;
  left:$leftWidth;
  right:$rightWidth;
  top:$topHeight;
  bottom:$bottomHeight;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:$gutter;
  background:$contentbg;
}

/* footer */
.app-footer {
  position:fixed;
  bottom:0;
  left:$leftWidth;
  right:$rightWidth;
  height:$bottomHeight;
  background:$footerbg;
}
