.right-sidebar{
  position:fixed;
  top:$topHeight;
  right:0;
  bottom:0;
  width:$rightWidth;
  background:$toolbarbg2;
  padding:$gutter*1.333333333334;
  color:#fff;
  overflow-y:scroll;
  h1 {
    font-size:1.4em;
  }
  h4 {
    font-size:11px;
    font-weight:400;
    margin:1em 0 0.75em;
    text-transform:uppercase;
  }

  .add-items-btn {
    margin:1.5em 0;
    border:1px dashed hsla(0, 0, 100, 0.75);
    text-align:center;
    padding:8px 4px;
    cursor:pointer;
    font-size:0.75em;
    &:hover {
      background:hsla(0, 0, 100, 0.05);
    }
  }
  .add-items-link {
    float:right;
    display:inline-block;
    cursor:pointer;
    color:$mainColor;
  }

  .aside-tab-control {
    list-style-type:none;
    display:flex;
    margin:0 0 1em;
    li {
      flex:1;
      display:flex;
      a {
        align-items:center;
        justify-content:center;
        text-align:center;
        font-size:14px;
        border:1px solid $toolbarbg3;
        color:#fff;
        width:100%;
        padding:6px 4px;
        display:flex;
        cursor:pointer;
        text-decoration:none;
      }
      &.active {
        a {
          background:$toolbarbg3;
          border:none;
        }
      }
    }
  }
  section {
    + section {
      margin-top:1.5em;
      padding-top:1.5em;
      border-top:1px solid hsla(0, 0, 100, 0.2);
    }
    input[type="text"] {
      border:none;
      box-shadow:none;
      border-radius:0;
      color:#333;
      padding:0 0.5em;
      height:36px;
      font-size:0.875em;
      margin:0 0 1em;
      background:$sidebarinput;
      color:#fff;
    }
    label {
      font-weight:400;
      font-size:0.8125em;
      display:block;
      margin:0 0 0.25em;
    }
    select {
      border-radius:0;
      border:none;
      margin:0 0 1em;
      background:$sidebarinput url('../images/caret-down.svg') no-repeat;
      background-position:right 8px center;
      background-size:13px auto;
      height:36px;
      font-size:0.875em;
      padding:0 2.25em 0 0.5em;
      color:#fff;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      width:100%;
    }
    option {
      padding:0.125em 0.5em;
    }
    input[type="submit"] {
      display:none;
    }
  }
  #trash {
    height:240px;
    padding:$gutter;
    border:1px dashed rgba(255, 255, 255, 0.25);
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:rgba(255, 255, 255, 0.5);
    p {
      font-size:0.625em;
      margin:0;
    }
    .fa {
      font-size:40px;
    }
  }
}

/* collection item */
.collection-item {
  background:#4b5d6e;
  margin:0 0 3px;
  color:#fff;
  .item-panel {
    padding:4px 30px 4px 22px;
    position:relative;
    .handle {
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      width:16px;
      cursor:-webkit-grab;
      cursor:grab;
      color:hsla(0, 0, 100, 0.25);
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:14px;
      background:hsla(0, 0, 100, 0.075);
      .fa + .fa {
        margin-left:1px;
      }
    }
    &.ui-sortable-helper {
      .handle {
        cursor:-webkit-grabbing;
        cursor:grabbing;
      }
    }
    .name {
      font-size:0.75em;
      font-weight:200;
      margin:0;
      min-height:36px;
      display:flex;
      align-items:center;
    }
    .controls {
      position:absolute;
      right:0;
      top:50%;
      transform:translateY(-50%);
      padding:4px;
      font-size:14px;
      a {
        display:inline-block;
        padding:0 4px;
        color:#e6e6e6;
      }
    }
  }
  &.ui-sortable-placeholder {
    border:1px dashed rgba(255, 255, 255, 0.25) !important;
    visibility:visible !important;
    background:transparent;
  }
}
