#sidebar{
  // $disabledColor: #4a4a4a;
  $disabledOpacity: 0.4;

  position:fixed;
  top:$topHeight;
  right:0;
  bottom:0;
  width:$rightWidth;
  background:$toolbarbg1;
  padding:$gutter;
  border-top:1px solid $toolbarBorderColor;
  color:#fff;
  overflow-y:auto;
  h1 {
    font-size:1.4em;
  }
  h4 {
    font-size:0.6875em;
    font-weight:400;
    margin:1em 0 0.75em;
    text-transform:uppercase;
  }

  .sidebar-panel {
    + .sidebar-panel {
      margin-top:0.5em;
      padding-top:0.5em;
      border-top:1px solid hsla(0, 0, 100, 0.2);
    }
  }

  .add-items-btn {
    margin:0 0 1.5em;
    border:1px dashed $toolbarColor;
    text-align:center;
    font-size:0.625em;
    line-height:$btnHeight;
    text-transform:uppercase;
    cursor:pointer;
    color:#fff;
    &:hover {
      background:hsla(0, 0, 100, 0.05);
    }
    &[data-disabled="true"]{
      // background-color:$disabledColor;
    }
  }
  .add-items-link {
    float:right;
    display:inline-block;
    cursor:pointer;
    color:$mainColor;
  }
  .remove-all-items {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 1em 0 2em;
    a {
      display: inline-block;
      &:hover {
        color: #fff;
      }
      i {
        vertical-align: middle;
        font-size: 1.5em;
      }
    }
  }

  .aside-tab-control {
    list-style-type:none;
    display:flex;
    margin:0 0 1em;
    li {
      flex:1;
      display:flex;
      a {
        align-items:center;
        justify-content:center;
        text-align:center;
        font-size:0.875em;
        border:1px solid #fff;
        color:#fff;
        width:100%;
        padding:0.6428571429em 0.2857em;
        display:flex;
        cursor:pointer;
        text-decoration:none;
      }
      &:first-child {
        a {
          border-radius:$borderRadius 0 0 $borderRadius;
        }
      }
      &:last-child {
        a {
          border-radius:0 $borderRadius $borderRadius 0;
        }
      }
      &.active {
        a {
          background:#fff;
          border:none;
          color:$toolbarbg1;
        }
      }
    }
  }

  section {
    + section {
      margin-top:1.5em;
      padding-top:1.5em;
      border-top:1px solid hsla(0, 0, 100, 0.2);
    }
    input[type="text"],
    input[type="number"],
    input[type="url"],
    input[type="email"],
    textarea {
      border:none;
      box-shadow:none;
      border-radius:$borderRadius;
      padding:0 0.75em;
      width: 100%;
      height:$btnHeight;
      font-size:0.75em;
      margin:0 0 1em;
      background:$sidebarinput;
      color:#fff;
      &:disabled{
        // background-color:$disabledColor;
      }
    }
    textarea {
      height:auto;
      min-height:120px;
      padding-top:0.375em;
      resize:vertical;
    }
    label {
      font-weight:400;
      font-size:0.75em;
      display:block;
      margin:0 0 0.25em;
      color:$toolbarColor;
      .material-icons {
        vertical-align:text-bottom;
        font-size:18px;
      }
    }
    select {
      @extend .bm-select;
    }
    select.highlight{
      background-color: lighten($sidebarinput, 40%);
    }

    select:disabled{
      // background-color:$disabledColor;
    }

    input[type="submit"] {
      display:none;
    }
    input[type="checkbox"] {
      position:absolute;
      left:-9999em;
      + label {
        display:block;
        position:relative;
        padding:0.3846153846em 0.3846153846em 0.3846153846em 2em !important;
        margin:0 0 0.5em;
        cursor:pointer;
        &::before {
          @extend %material-icons;
          font-size:18px;
          content:"check_box_outline_blank";
          position:absolute;
          color:#fff;
          left:0;
          top:0.2em;
        }
      }
      &:checked {
        + label {
          &::before {
            content:"check_box";
          }
        }
      }
      &:disabled + label::before{
        // color: $disabledColor;
      }
    }
    .input-note {
      font-size:0.625em;
      font-style:italic;
      margin:0 0 1.2em;
    }
    input,
    select,
    textarea {
      + .input-note {
        margin-top:-0.8em;
      }
    }

    @mixin track() {
      width:100%;
      height:3px;
      cursor:pointer;
      background:#666;
      transition:all .2s ease;
      box-shadow:none;
      border:none;
      border-radius:10px;
    }
    @mixin thumb() {
      box-shadow:0px 0px 0px hsl(0, 0, 0);
      border:1px solid hsl(0, 0, 100);
      height:18px;
      width:8px;
      border-radius:2px;
      background:linear-gradient(to top, #fff 40%, #ccc 100%);
      cursor:pointer;
    }
    input[type=range] {
      -webkit-appearance:none;
      margin:0.125em 0 1em;
      height:18px;
      background:transparent;
      width:100%;
      &::-webkit-slider-runnable-track {
        @include track();
      }
      &::-webkit-slider-thumb {
        @include thumb();
        -webkit-appearance:none;
        margin-top:-8px;
      }
      &::-moz-range-track {
        @include track();
      }
      &::-moz-range-thumb {
        @include thumb();
      }
      &:focus {
        outline:none;
        &::-webkit-slider-runnable-track {
          background: #999;
        }
      }
    }
    .range-value {
      margin-left:8px;
      padding:2px 6px;
      display:inline-block;
      background:$sidebarinput;
      color:#fff;
      border-radius:$borderRadius;
    }
    .range-range {
      font-size:11px;
      .range-max {
        float:right;
      }
    }
  }
  .checkbox {
    margin:0;
  }

  .xeditable {
    .js-edit {
      margin:0 0 1em;
      background:$sidebarinput;
      height:$btnHeight;
      font-size:0.75em;
      position:relative;
      color:#fff;
      display:flex;
      text-decoration:none;
      border-radius:$borderRadius;
      &:hover {
        .icon {
          background:hsl(0, 0, 38);
        }
      }
      > span {
        line-height:$btnHeight;
        padding:0 0.75em;
      }
      .text {
        flex:1;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }
      .icon {
        background:hsl(0, 0, 35);
        transition:background 0.15s ease, color 0.15s ease;
        padding:0 1.5em;
        border-radius:0 $borderRadius $borderRadius 0;
      }
    }
    .actions {
      text-align:right;
      margin:0 0 0.5em;
    }
    &[data-disabled="true"]{
      opacity: $disabledOpacity;
      // .text {background-color:$disabledColor;}
      // .icon{background-color:lighten($disabledColor, 5%);}
    }
  }
  .xeditable-active {
    position:relative;
    &::after {
      content:"";
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      right:0;
      background:rgba($toolbarbg1, 0.8);
      z-index:10;
    }
    .xeditable {
      position:relative;
      z-index:11;
    }
  }

  .input-browse {
    .js-clear {
      background:$sidebarinput;
      border-radius:$borderRadius 0 0 $borderRadius;
      border-right:1px solid $toolbarbg1;
      &:hover {
        background:hsl(0, 0, 35);
      }
    }
    .js-trigger {
      background:$sidebarinput;
      color:#fff;
      border-radius:0 $borderRadius $borderRadius 0;
      .js-name {
        line-height:$btnHeight;
      }
      &::after {
        background:hsl(0, 0, 35);
        line-height:$btnHeight;
        border-radius:0 $borderRadius $borderRadius 0;
      }
      &:hover {
        &::after {
          background:hsl(0, 0, 38);
        }
      }
    }
  }



  .js-multiple-browse {
    margin:0 0 1em;
    .js-trigger {
      background:hsl(0, 0, 35);
      color:#fff;
      border-radius:$borderRadius;
      &:hover {
        background:hsl(0, 0, 38);
      }
    }
    .items {
      background:$sidebarinput;
      min-height:$btnHeight;
      border-radius:$borderRadius;
      .item {
        > * {
          background:hsla(0, 0, 100, 0.08);
        }
        .js-remove {
          color:#fff;
          border-radius:$borderRadius 0 0 $borderRadius;
          &:hover {
            background:hsla(0, 0, 100, 0.17);
          }
        }
        .name {
          border-radius:0 $borderRadius $borderRadius 0;
        }
      }
    }
  }

  [data-input][data-disabled="true"]{
    opacity: $disabledOpacity;
    // .js-trigger {background-color:$disabledColor;}
    // .js-trigger::after {background-color:lighten($disabledColor, 5%);}
  }

  [data-compound-checkbox] {
    .children {
      display:none;
      padding-left:1.625em;
      margin-bottom:1em;
      label {
        padding-left:0;
      }
    }
    input[type="checkbox"]:checked {
      ~ .children {
        display:block;
        animation:compoundFadein 0.5s ease;
      }
    }
    &[data-compound-reverse] {
      .children {
        display:block;
        padding-left:0;
        animation:compoundFadein 0.5s ease;
      }
      input[type="checkbox"]:checked {
        ~ .children {
          display:none;
        }
      }
    }
  }
  @keyframes compoundFadein {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .toggle-link {
    font-size:0.75em;
    display:block;
    margin:0 0 1em;
    text-transform:uppercase;
    color:#fff;
    &::after {
      @extend %material-icons;
      content:"arrow_drop_down";
      display:inline-block;
      vertical-align:middle;
      float:right;
      transform: rotate(-90deg);
    }
    &[aria-expanded="true"] {
      &::after {
        transform: none;
      }
    }
    &.sub-toggle {
      display:inline-block;
      text-transform:none;
      &::after {
        float:none;
      }
    }
    &:focus {
      text-decoration:none;
    }
  }

  .not-selected {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    display:flex;
    .content {
      text-align:center;
      padding:0 20%;
      h1 {
        margin:0 0 0.5em;
      }
      p {
        font-size:0.8125em;
        font-weight:500;
      }
      i,
      [class^="icon-"], [class*=" icon-"] {
        font-size:48px;
        color:hsl(0, 0, 50);
        display:block;
        margin:0 0 0.25em;
      }
    }
  }
  .error-input {
    input[type="text"],
    input[type="number"],
    input[type="url"],
    input[type="email"],
    textarea {
      border:2px solid $highlightColor;
      margin-bottom:0.5em;
      &:focus {
        outline-color:$highlightColor;
      }
    }
  }

  .sidebar[data-disabled-full="true"]{
    // opacity: 0.4;
    .toggle-link,
    .aside-tab-control{opacity: $disabledOpacity;}
  }


  .disabled-input{
    opacity: $disabledOpacity;
  }

  .sidebar[data-disabled-full="true"]:before{

    // content: "READONLY"; color:darken($mainColor, 35%); font-size:14px; font-weight:bold;
    // display: block; padding:2px 4px; background: $mainColor;
    // border-radius:5px; text-align:center; margin-bottom:20px;
  }

  @media screen and (min-width: 1750px){
    width: $rightWidthLg;
  }
}

.errors {
  list-style-type:none;
  margin:0 0 1.5em;
  font-size:0.75em;
  color:$highlightColor;
  font-weight:700;
  line-height:1.25;
}

.sorting .sidebar{opacity:0.3; overflow:hidden;}


#trash {
  height: $rightWidth - $gutter;
  width: $rightWidth - $gutter;
  border:1px dashed rgba(255, 255, 255, 0.25);
  position:fixed;
  bottom:0.5*$gutter;
  right:0.5*$gutter;
  display:none;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:rgba(0, 0, 0, 0.8);
  color:rgba(255, 255, 255, 0.5);
  z-index: 999;
  p {
    font-size:0.625em;
    margin:0;
  }
  i {
    font-size:4.5em;
  }

  [data-block] {
    display:none !important;
  }

  .no-placeholder, [data-trash] {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 999;
    top:0;
    left:0;
  }
  .no-placeholder {
    z-index:1000;
    margin:0;
    background-color:hsla(0, 100, 61, 0.25);
  }
  .no-placeholder::before,
  .no-placeholder::after {
    display:none;
  }
  .sorting & {
    display:flex;
  }
  @media screen and (min-width: 1750px) {
    width: $rightWidthLg - $gutter;
    height: $rightWidthLg - $gutter;
  }
}

/* collection item */
$itemHeight: 2.625rem;
.item-panel {
  background:#fff;
  border-radius:$borderRadius;
  padding: .25em 0 .25em 1.375em;
  position:relative;
  display: flex;
  align-items: center;
  color:#333;
  width: 100%;
  height: $itemHeight;
  .handle {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:1.1428571429em;
    cursor:grab;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:.875em;
    opacity:.4;
    i {
      transform:rotate(90deg);
    }
  }
  &.ui-sortable-helper {
    .handle {
      cursor:-webkit-grabbing;
      cursor:grabbing;
    }
  }
  .name {
    font-size: .75em;
    line-height: 1.4166666667;
    margin: 0;
    flex: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.8333333333em;
  }
  .controls {
    font-size: .875em;
    color: #8c8c8c;
    position: relative;
    min-width: 2.7142857143em;
    button {
      border: 0;
      background: transparent;
      color: inherit;
      vertical-align: middle;
      padding: 0 .5em;
      i {
        display: block;
      }
    }
    .dropdown {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      visibility: hidden;
      &.open {
        visibility: visible;
        + .item-position {
          visibility: hidden;
        }
      }
      &.dropup {
        .dropdown-menu {
          &::before {
            top: 100%;
            bottom: auto;
            transform: rotate(180deg);
          }
        }
      }
    }
    .dropdown-menu {
      border: 0;
      background: $toolbarbg2;
      color: #fff;
      font-size: .75rem;
      text-align: right;
      width: 100%;
      margin-top: .75em;
      &::before {
        content: '';
        position: absolute;
        right: .8em;
        bottom: 100%;
        border-bottom: .75em solid $toolbarbg2;
        border-left: .75em solid transparent;
        border-right: .75em solid transparent;
      }
      a {
        color: inherit;
        padding: .5em .8333333em;
        cursor: pointer;
        &:hover,
        &:focus {
          background:hsla(0, 0, 100, 0.05);
          color: inherit;
        }
      }
    }
  }
  &:hover {
    .dropdown {
      visibility: visible;
    }
    .item-position {
      visibility: hidden;
    }
  }
  &.ui-draggable-dragging {
    .dropdown {
      visibility: hidden;
    }
  }
  .item-position {
    font-size: .75rem;
    text-align: right;
    padding: 0 .5em 0 0;
    min-width: 1.7em;
    color: #757575;
  }
  .status-icon {
    padding: .25em;
    color: #8c8c8c;
    i {
      vertical-align: middle;
      font-size: .875rem;
    }
  }
  .collection-item:not(.cloned-manual) > &.overriden-item {
    .name {
      color: #999;
    }
  }
  .collection-item:not(.sorting) & {
    &.overriden-item {
      width: 40%;
      border-radius: $borderRadius 0 0 $borderRadius;
      padding-right: .75em;
      background: #dedede;
      transition: width .2s;
      .controls {
        display: none;
      }
      &:hover,
      &.item-editing-position {
        width: 80%;
        .controls {
          display: block;
        }
        + .override-item {
          width: calc(20% + 2px);
          .controls {
            display: none;
          }
        }
      }
    }
  }
  &.override-item {
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    width: calc(60% + 2px);
    padding-left: 1em;
    transition: width .2s;
    box-shadow: -2px 0 4px hsla(0, 0, 0, .25);
  }
  .collection-item.sorting & {
    &.override-item {
      display: none;
    }
  }
}
.collection-item {
  margin: 0 0 .25em;
  position: relative;
  height: $itemHeight;
  &.ui-sortable-placeholder {
    border:1px dashed rgba(255, 255, 255, 0.25) !important;
    visibility:visible !important;
    background:transparent;
  }
  &.hidden-item {
    .item-panel {
      // background: #d5d5d5;
    }
  }
  &.overflown-item {
    .item-panel {
      background: #d5d5d5;
    }
  }
  .item-edit-position {
    position: absolute;
    display: flex;
    align-items: stretch;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    animation: fadeIn .2s;
    input[type="number"] {
      #sidebar & {
        margin: 0;
        height: auto;
        background: transparent;
        color: #333;
        &:focus {
          outline: none;
        }
      }
    }
    .btn {
      border-radius: 0;
      border: 0;
      display: flex;
      align-items: center;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-collection {
  position: relative;
  .collection-loader {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $toolbarbg1;
    color: #ddd;
    font-size: .75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      text-transform: uppercase;
      display: block;
      margin-top: 1.5em;
    }
  }
}

.bm-items {
  margin: 0 0 1rem;
  position: relative;
  &.bm-items-loading {
    // background: #fff;
    > * {
      opacity: .1;
    }
  }
}
.collection-item {
  &.sorting {
    &.manual-item {
      .item-panel {
        opacity: .75;
      }
    }
    &.dynamic-item {
      outline: 1px dashed #999;
      .item-panel {
        opacity: 0;
      }
    }
    &.highlight:not(.cloned-manual) {
      outline: 1px dashed #999;
      background: hsla(0, 0, 100, 1);
      .item-panel {
        opacity: 0;
      }
    }
    &.sorting-hidden {
      display: none;
    }
    &.start-item {
      .item-panel {
        opacity: .2;
      }
      &.highlight {
        background: transparent;
        .item-panel {
          opacity: .9;
        }
      }
    }
    .override-item {
      .name {
        opacity: 0;
      }
    }
  }
}

.bm-overflown {
  > p {
    font-size: .75em;
    margin: 0;
  }
  #sidebar & > .toggle-link {
    margin: 0;
  }
  .bm-overflown-items {
    margin-top: .75em;
  }
  .bm-overflown-before & {
    margin: 0 0 1rem;
    padding: 0 0 .75rem;
    border-bottom: 1px dashed #8c8c8c;
  }
  .bm-overflown-after & {
    margin: 1rem 0;
    padding: .75rem 0 0;
    border-top: 1px dashed #8c8c8c;
  }
}

.overflown-items-collapsed {
  text-align: center;
  .js-show-items {
    color: #fff;
    display: inline-block;
    padding: .5em;
    position: relative;
    &:hover {
      color: #d0d0d0;
    }
    i {
      vertical-align: middle;
    }
  }
  .overflown-count {
    position: absolute;
    font-size: .6875em;
    line-height: 1.4em;
    text-align: left;
    left: 2.7em;
    top: 1.2em;
  }
}
.bm-overflown-items-wrapper {
  position: relative;
  .js-hide-items {
    position: absolute;
    z-index: 2;
    left: 50%;
    color: #fff;
    background: $toolbarbg1;
    &:hover {
      color: #d0d0d0;
    }
    i {
      vertical-align: middle;
      &::before {
        content: 'expand_more';
      }
    }
    .bm-overflown-after & {
      bottom: 100%;
      transform: translate3d(-50%, 50%, 0);
      i {
        &::before {
          content: 'expand_less';
        }
      }
    }
    .bm-overflown-before & {
      top: 100%;
      bottom: auto;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

[data-disabled="true"] > .collection-item{
  .controls,
  .handle{display:none;}
}


.loader{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:$toolbarbg1;
  display:none;
  justify-content:center;
  align-items:center;
  z-index: 99999;
  span {
    font-size:0.75em;
    position:relative;
    top:1em;
    display:block;
    text-transform:uppercase;
    opacity:0.8;
  }
  .loading-ng-icon {
    margin:0;
  }
  .content{
    color:hsl(0, 0, 50);
    text-align:center;
  }
}

// #sidebar.loading{
//   .loader{opacity: 1;}
// }
