$tooltipBg: hsla(0, 0, 12, 0.9);


.layout_layout_1 {background-image:url(../images/layout_thumbs/layout_1.svg);}
.layout_layout_2 {background-image:url(../images/layout_thumbs/layout_2.svg);}
.layout_layout_3 {background-image:url(../images/layout_thumbs/layout_3.svg);}
.layout_layout_4 {background-image:url(../images/layout_thumbs/layout_4.svg);}
.layout_layout_5 {background-image:url(../images/layout_thumbs/layout_5.svg);}
.layout_layout_6 {background-image:url(../images/layout_thumbs/layout_6.svg);}

.bm-tooltip {
  position:relative;
  display:inline-block;
  color:inherit;
  cursor:pointer;
  .tooltip-box {
    pointer-events:none;
    opacity:0;
    position:absolute;
    font-size:11px;
    color:#fff;
    z-index:1001;
    font-weight:400;
    line-height:1.5;
    margin:0;
    left:50%;
    bottom:100%;
    transform:translateX(-50%);
    transition:opacity 0.1s, margin 0.25s ease-out;
    width:200px;
    text-align:center;
    .tooltip-text {
      background:$tooltipBg;
      border-radius:$borderRadius;
      padding:0.5em 1em;
      display:inline-block;
      text-transform:none;
    }
    &::before {
        content:"";
        width:0;
        height:0;
        position:absolute;
        display:block;
        left:50%;
        transform:translateX(-50%);
        top:100%;
        border-top:6px solid $tooltipBg;
        border-left:4px solid transparent;
        border-right:4px solid transparent;
    }
    .tt-note {
      color:hsl(0, 0, 65);
    }
  }
  &[data-placement="bottom"] {
    .tooltip-box {
      top:100%;
      bottom:auto;
      &::before {
        border-bottom:6px solid $tooltipBg;
        border-top:none;
        top:auto;
        bottom:100%;
      }
    }
  }
  &[data-placement="left"],
  &[data-placement="right"] {
    .tooltip-box {
      bottom:50%;
      transform:translateY(50%);
      &::before {
        border-top:4px solid transparent;
        border-bottom:4px solid transparent;
        top:50%;
        transform:translateY(-50%);
      }
    }
  }
  &[data-placement="left"] {
    .tooltip-box {
      left:auto;
      right:100%;
      text-align:right;
      &::before {
        border-left:6px solid $tooltipBg;
        border-right:none;
        left:100%;
      }
    }
  }
  &[data-placement="right"] {
    .tooltip-box {
      right:auto;
      left:100%;
      text-align:left;
      &::before {
        border-right:6px solid $tooltipBg;
        border-left:none;
        right:100%;
        left:auto;
      }
    }
  }
  &:hover {
    color:inherit;
    .tooltip-box {
      margin:0 0 6px;
      opacity:1;
    }
    &[data-placement="bottom"] {
      .tooltip-box {
        margin:6px 0 0;
      }
    }
    &[data-placement="left"] {
      .tooltip-box {
        margin:0 6px 0 0;
      }
    }
    &[data-placement="right"] {
      .tooltip-box {
        margin:0 0 0 6px;
      }
    }
  }
}


.new_layout {
  form {
    input[type="submit"] {display:none;}
    > div+div {margin-top:20px;}
    label {font-weight:normal;}
    input[type="text"] {
      height:$btnHeight; border:1px solid hsl(0, 0, 88); background:hsl(0, 0, 96); border-radius:$borderRadius; padding:0 0.75em; font-size:0.75em; margin:0 0 1em;
    }
    label + ul {margin:-0.5em 0 0.85em 0; padding:0; list-style:none; color:#d00; font-size:0.92em;}
  }
  .layout-type {
    $selected_color: #4b91e2;
    display:flex; margin:0 -6px;
    label {
      margin:0 6px; font-size:0.875em; font-weight:normal; text-align:center; cursor: pointer; flex-basis:20%; position:relative;
      &::before {
        content:""; display:block; height:0; padding:0 0 138%; border:2px solid hsl(0, 0, 60); background-size:85%; background-repeat:no-repeat; background-position:center center; margin-bottom:4px; border-radius:$borderRadius;
      }
      &:hover {
        $hover_color: lighten($btnprimary, 10%);
        color: $hover_color;
        &:before {
          border-color: $hover_color;
        }
      }
    }
    input {
      display:none;
      &:checked {
        + label {
          color:$btnprimary;
          &::before {
            border-color:$btnprimary;
          }
          &::after {
            @extend %material-icons; content:"check"; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); color:#fff; text-align:center; width:38px; height:38px; line-height:32px; border-radius:50%; border:3px solid #fff; background:$btnprimary; margin-top:-12px; animation:checkedFadeIn 0.15s;
          }
        }
      }
    }

    [value="layout_1"] + label:before{@extend .layout_layout_1;}
    [value="layout_2"] + label:before{@extend .layout_layout_2;}
    [value="layout_3"] + label:before{@extend .layout_layout_3;}
    [value="layout_4"] + label:before{@extend .layout_layout_4;}
    [value="layout_5"] + label:before{@extend .layout_layout_5;}
    [value="layout_6"] + label:before{@extend .layout_layout_6;}

  }
}


[data-zone]{
  .layout_icon{width:100px; height:100px; background-size:contain; background-repeat:no-repeat; display:inline-block;}
}

@keyframes checkedFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
