// colors
$toolbarbg1: hsl(0, 0, 25);
$toolbarbg2: hsl(0, 0, 22);
$toolbarColor: hsl(285, 0, 61);
$toolbarBorderColor: hsl(0, 0, 31);
$mainColor: hsl(50, 90, 50);
$blockbg: hsl(0, 0, 100);
$btnprimary: hsl(194, 100, 39);
$sidebarinput: hsl(285, 0, 29);

$contentbg: hsl(0, 0, 31);

$footerbg: hsl(0, 0, 90);

// dimensions
$leftWidth: 50px;
$rightWidth: 290px;
$topHeight: 50px;
$bottomHeight: 30px;
$btnHeight: 36px;
$leftPanelWidth: 280px;
$borderRadius: 2px;
$gutter: 15px;
$blockHeaderHeight: 30px;

%icomoon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
%fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
%material-icons {
  @extend .material-icons;
}

%clearfix {
  content:"";
  display:table;
  clear:both;
}
