@import "compass/css3";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "grid";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";

*{
  padding: 0;
  margin: 0;
}

body{background:#333; }

#app{width:1000px; margin:0 auto; color:#eee;}

.split{
  box-sizing:border-box;
  > div{float:left; width:49%;
    &.r{float: right;}
  }
}
[data-zone]{outline:0px solid transparent;  min-height:2em;}
[data-zone]:empty:before{content:'Drop content here!'; color:#999; font-size:1em; display:block;   }
.sorting [data-zone]{outline:1px dotted #999;   outline-offset: 3px;margin-bottom:10px; @include transition(all 0.3s ease-in-out);}

[data-zone].zone_type_inherited:empty:before{content: 'Inherited zone!'}
.zone_type_inherited{outline-color:#f00;}

.s70-30{
  > div.l{width:69.5%}
  > div.r{width:29.5%}
}

.s30-70{
  > div.l{width:29.5%}
  > div.r{width:69.5%}
}


img{width:100%; max-width:100%;}

.no-placeholder{height:2px; background:#cc0; margin:2px -20px;}
.blocks .no-placeholder{display:none;}




.ui-sortable-helper{opacity:0.8}

[data-block]{
  position:relative;
  .block_actions{position:absolute;  display:none; text-align:right; left:-180px; top:0px; padding:4px; width:180px; color:#fff;}
  .block_actions span{ background:rgba(0,0,0, 0.5); padding:6px 8px;}
  .handle{}
}
[data-block]:hover .block_actions{display: inline-block;}

.grid-block{
  @include clearfix;
  margin: 10px 0;
  list-style: none;
  li{
    float: left;
    margin: 0;
    h2{
      margin: 10px 0;
      font-size: 20px;
    }
    img{
      display: block;
    }
  }

}
