body{background:#333; color:#eee;}

#app{width:1000px; margin:0 auto;}

.split{
  box-sizing:border-box;
  > div{float:left; width:49%;
    &.r{float: right;}
  }
}

[data-zone]{outline:1px solid #090; min-height:40px; margin-bottom:10px;}


.s70-30{
  > div.l{width:69.5%}
  > div.r{width:29.5%}
}

.s30-70{
  > div.l{width:29.5%}
  > div.r{width:69.5%}
}


img{width:100%; max-width:100%;}

.no-placeholder{height:2px; background:#000; margin:2px -20px;}
.blocks .no-placeholder{display:none;}

.zone_type_inherited{outline-color:#f00;}


.ui-sortable-helper{background:#ff9;}
