{
  "domain": "http://example.com",
  "test_domain": "http://example.com",
  "start_path": "bm/dev/app",
  "test_start_path": "bm/dev/app",
  "db": {
    "name": "testdb",
    "host": "localhost",
    "user": "root",
    "password": "root"
  }
}
