<div class="left-toolbar-buttons">
  <button class="button open-panel" data-target="blocks"><span class="icon"></span></button>
  <button class="button js-layout-mapper"><span class="icon">L</span></button>
</div>
<div class="left-toolbar-panels">
  <div class="left-panel left-panel-blocks">
    <div class="panel-content">
      <a class="close-panel"><i class="fa fa-times"></i></a>
      {{#each collection.groups.models}}
        <div class="header">
          <h2>{{name}}</h2>
        </div>
        <div class="block-items {{identifier}}"></div>
      {{/each}}
    </div>
  </div>
</div>
