<div class='tab-pane' id="browse-tab">
  <div class="modal-body">
    <div class="row">

      <div class="col col-md-3">
        <div class="header-col">
          <select class="select root-items"></select>
        </div>
        <div class="panel left-panel">
          <ul class="tree"></ul>
        </div>
      </div>

      <div class="col col-md-7 list-panel">
        <div class="header-col clearfix">
          <ul class="breadcrumb breadcrumb-list"></ul>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-preview"><i class="glyphicon glyphicon-th-large"></i></button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="list"></div>
          <div class="pagination"></div>
        </div>
      </div>

      <div class="col col-md-2 preview-panel">
        <div class="panel">
          <div class="preview"></div>
        </div>
      </div>

    </div>
  </div>
</div>
