<div class='tab-pane' id="search-tab">
  <div class="modal-body">
    <div class="row">

      <form>

        <div class="col col-md-3">
          <div class="header-col">
            <select class="select search-root-items"></select>
          </div>
          <div class="panel left-panel search-left-panel">
            <input type="text" class="form-control" value="Search params">
          </div>
        </div>

        <div class="col col-md-7 list-panel">
          <div class="header-col clearfix">
            <div class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" name="searchText" id="search_text" placeholder="Search...">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-default btn-search " value="Search">
                  </span>
                </div>
                <ul class="breadcrumb breadcrumb-search"></ul>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default btn-preview"><i class="glyphicon glyphicon-th-large"></i></button>
                </div>
            </div>
          </div>
          <div class="panel right-panel">
            <div class="search-list"></div>
            <div class="pagination"></div>
          </div>
        </div>

        <div class="col col-md-2 preview-panel">
          <div class="panel">
            <div class="preview"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
