<div class="modal-dialog">
  <div class="modal-content">

    <div class="browser-tabs"></div>

    <div class="modal-footer">
      <div class="row">
        <div class="selected-panel col-md-10">
          <ul class="selected-items clearfix"></ul>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary action_apply green">OK</button>
        </div>
      </div>
    </div>

  </div>
</div>
