{{> layouts/app_header}}

<div class="main-content">
  <div class="zones"></div>
</div>


<aside id="sidebar">
    <div class="right-sidebar"></div>

    <div class="loader">
        <div class="content">
            <i class="loading-ng-icon"></i>
            <span>Loading</span>
        </div>
    </div>
</aside>
