{{> layouts/app_header}}

<div class="main-content">

  <div id="zone_linking_header"></div>
  <div class="zones"></div>
</div>


<aside id="sidebar">
    <div class="right-sidebar"></div>
    <div id="trash">
        <div data-trash></div>
        <i class="material-icons">delete_forever</i><p>Trash</p>
    </div>

    <div class="loader">
        <div class="content">
            <i class="loading-ng-icon"></i>
            <span>Loading</span>
        </div>
    </div>
</aside>
