{{> layouts/app_header}}

<div class="main-content">

  <div class="change_layout_type_header">
    <div class="chooser chooser-layout-types"></div>
  </div>


  <div class="zones"></div>
</div>


<aside id="sidebar">
    <div class="right-sidebar"></div>

    <div class="loader">
        <div class="content">
            <i class="loading-ng-icon"></i>
            <span>Loading</span>
        </div>
    </div>
</aside>
