<header class="app-header"></header>
<aside class="left-toolbar blocks"></aside>

<div class="main-content">
    <div class="zones"></div>
    <div class="new_layout"></div>
</div>

<aside id="sidebar">
    <div class="right-sidebar"></div>
    <div id="trash">
        <div data-trash></div>
        <i class="fa fa-trash-o"></i><p>Trash</p>
    </div>

    <div class="loader">
        <div class="content">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span>Loading</span>
        </div>
    </div>
</aside>

<footer class="app-footer"></footer>
