<h2>Simple Blocks</h2>

<div class="block-items simple-blocks"></div>

<h2>Block groups</h2>

<div class="block-items group-blocks"></div>

<h2>Containers</h2>

<div class="block-items container-blocks"></div>

<h2>Custom Blocks</h2>

<div class="block-items custom-blocks"></div>

