<h2>Simple Blocks</h2>

<div id="simple-blocks" class="block"></div>

<h2>Block groups</h2>

<div id="group-blocks" class="block"></div>

<h2>Container Blocks</h2>

<div id="container-blocks" class="block"></div>

<h2>Custom Blocks</h2>

<div id="custom-blocks" class="block"></div>

