<h2>Simple Blocks</h2>

{{#each simple_blocks}}
  {{> item}}
{{/each}}

{{!-- <h2>Block groups</h2>

{{#each group_blocks}}
  {{> 'item' this}}
{{/each}}

<h2>Container Blocks</h2>

{{#each container_blocks}}
  {{> 'item' this}}
{{/each}}

<h2>Custom Blocks</h2>

{{#each custom_blocks}}
  {{> 'item' this}}
{{/each}}
 --}}
