<button class="btn btn-link-white js-discard">Discard</button>
<button class="btn btn-primary js-publish">Publish layout</button>
<div class="dropdown">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="#" class="js-publish-and-continue">Publish and continue editing</a></li>
    <li><a href="#" class="js-save-and-close">Save draft and close</a></li>
    {{#> overrides/layout_additional_actions}}{{!-- override with partial --}}{{/overrides/layout_additional_actions}}
  </ul>
</div>
