{{debug this}}

<span class="block_actions">
  <span class="action-edit">Edit</span>
  {{#unless model.in_group}}
    <span class="action-destroy">Delete</span>
    <span class="handle">Move</span>
  {{/unless}}
</span>
