<span class="block_actions">
  <span class="action-edit glyphicon glyphicon-pencil"></span>
  {{#unless model.in_group}}
    <span class="action-destroy glyphicon glyphicon-remove"></span>
    <span class="handle glyphicon glyphicon-move"></span>
  {{/unless}}
</span>
