<span class="block_actions">
  {{!-- <span class="action-edit glyphicon glyphicon-pencil" title="Edit {{model.template.kind}}"></span> --}}
  {{#unless model.in_group}}
    <span class="action-destroy glyphicon glyphicon-remove" title="Delete {{model.template.kind}}"></span>
    <span class="handle glyphicon glyphicon-move" title="Move {{model.template.kind}}"></span>
  {{/unless}}
</span>
