<!--Collection items will appear here!-->
{{#if collection.bm_collection.loading}}
  <div class="items-loading">
    <i class="loading-ng-icon"></i>
    <span>Loading</span>
  </div>
{{/if}}
<div class="bm-items{{#if collection.bm_collection.loading}} bm-items-loading{{/if}}" data-input></div>
