<div class="item-panel">
  <div class="handle"><i class="material-icons">drag_handle</i></div>
  <p class="name">
    {{model.name}}
  </p>
  {{#if model.scheduled}}
    <div class="status-icon"><i class="material-icons">access_time</i></div>
  {{/if}}
  {{#unless model.is_visible}}
    <div class="status-icon">
      <span class="bm-tooltip" title="{{#unless model.cms_visible}}Hidden in CMS{{else}}{{#if model.scheduled}}Hidden by scheduling{{else}}Hidden in Netgen Layouts{{/if}}{{/unless}}">
        <i class="material-icons">visibility_off</i>
      </span>
    </div>
  {{/unless}}
  <div class="controls">
    {{#if model.has_menu}}
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
        <ul class="dropdown-menu dropdown-menu-right">
          {{#if model.cms_url}}<li><a href="{{model.cms_url}}" target="_blank" rel="noopener noreferrer">Edit in CMS</a></li>{{/if}}
          {{#if model.is_manual}}
            <li><a class="item-visibility">Configure visibility</a></li>
            <li><a class="set-item-position">Set position</a></li>
          {{/if}}
          {{#if model.can_remove_item}}<li><a class="remove-item">Remove</a></li>{{/if}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>
