<!--Collection items will appear here!-->
<!--{{#if collection.bm_collection.can_add_items }}<span class="add-items add-items-link">+ Add items</span>{{/if}}-->
{{#if collection.bm_collection.can_add_items }}<div class="add-items add-items-btn">+ Add items</div>{{/if}}

{{#if named_and_empty}}
  No items available.
{{else}}
  <div class="bm-items"></div>
{{/if}}
