{{#if model.loading}}
  <div class="loading-collection">
    <div class="collection-loader">
      <i class="loading-ng-icon"></i>
      <span>Loading</span>
    </div>
{{/if}}

{{#if model.canAddItems}}<div class="add-items add-items-btn" data-input>+ Add items</div>{{/if}}

<div class="bm-overflown-before" data-input></div>
<div class="items"></div>
<div class="bm-overflown-after" data-input></div>

{{#if model.show_remove_all}}
  <div class="remove-all-items">
    <a href="#" class="js-remove-all"><i class="material-icons">delete_forever</i> Remove all manual items</a>
  </div>
{{/if}}

{{#if model.loading}}
  </div>
{{/if}}
