<div class="item-panel">
  <div class="handle"><i class="material-icons">drag_handle</i></div>
  <p class="name">{{model.name}}</p>
  <div class="controls">
    {{#if model.can_remove_item }}<a class="remove-toggle"><i class="material-icons">close</i></a>{{/if}}
  </div>
  {{#if model.can_remove_item }}<div class="remove-btns">
    <a class="cancel">Cancel</a>
    <a class="remove">Remove</a>
  </div>{{/if}}
</div>
