<!--Collection items will appear here!-->
<h4>Items {{#if collection.bm_collection.can_add_items }}<span class="add-items add-items-link">+ Add items</span>{{/if}}</h4>
<div class="bm-items"></div>
<div class="add-items add-items-btn">+ Add items</div>
