<div class="item-panel">
  <div class="handle"><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></div>
  <p class="name">{{model.name}}</p>
  <div class="controls">
    <a href="" class="remove"><i class="fa fa-times"></i></a>
  </div>
</div>
