<div class="item-panel">
  <div class="handle"><i class="material-icons">drag_handle</i></div>
  <p class="name">
    {{model.name}}
    {{#unless model.visible}}
      <span class="note"><i class="material-icons">visibility_off</i> Item is hidden</span>
    {{/unless}}
  </p>
  <div class="controls">
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
      <ul class="dropdown-menu dropdown-menu-right">
        {{#if model.cms_url}}<li><a href="{{model.cms_url}}" target="_blank" rel="noopener noreferrer">Edit in CMS</a></li>{{/if}}
        {{#if model.is_manual}}<li><a class="item-visibility">Configure visibility</a></li>{{/if}}
        {{#if model.is_manual}}<li><a class="set-item-position">Set position</a></li>{{/if}}
        {{#if model.can_remove_item}}<li><a class="remove-item">Remove</a></li>{{/if}}
      </ul>
    </div>
  </div>
</div>
