<div class="modal-dialog">
  <div class="modal-content">
    <div class="in">
    <div class="modal-header">
      <h1 class="modal-title">{{title}}</h1>
    </div>
    <div class="modal-subheader">
      <ul class="header"></ul>
    </div>
    <div class="modal-subheader">
      <ol class="breadcrumb"></ol>
    </div>
    <div class="modal-body">
      <div id="browser" class="row">
        <div class="panel left-panel col-md-3">
          <ul class="tree"></ul>
        </div>
        <div class="panel right-panel col-md-7">
          <div class="list"></div>
          <div class="pagination"></div>
        </div>
        <div class="panel preview-panel col-md-2">
          <div class="preview"></div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary action_apply green">OK</button>
    </div>

  </div>
</div>
