<div class="layout-name">
    {{#if model.shared}}
      <span class="shared-label">Shared:</span>
    {{/if}}
    {{#if editing }}
      <form method="post" class="js-layout">
        <input type="text" name="name" class="js-name" value="{{ model.name }}">
        <div class="btns">
          <a href="#" class="btn btn-link js-cancel">Cancel</a>
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    {{else}}
      <span class="js-show-form">{{ model.name }} <i class="material-icons">edit</i></span>
    {{/if}}
</div>
<div class="actions">
    <button class="btn btn-link js-discard">Discard</button>
    <button class="btn btn-primary js-publish">Publish layout</button>
</div>
