<div class="app-logo"></div>
<div class="layout-name">
    <h1 contenteditable="true">{{ model.name }}</h1>
</div>
<div class="actions">
    <button class="btn btn-link">Discard</button>
    <button class="btn btn-primary">Publish layout</button>
</div>
