
<div class="form-inline">
  <label>Link with layout</label>
  <select class="form-control" name="layout[id]">
    <option value="">---</option>
    <option value="1">Layout 1</option>
    <option value="2">Layout 2</option>
    <option value="5">Layout 5</option>
  </select>
</div>
