
<div class="change-layout-from-to">
  <div class="layouts">
    <div>
      <img src="{{from.icon}}" />
      <div>{{from.name}}</div>
    </div>
    =>
    <div>
      <img src="{{to.icon}}" />
      <div>{{to.name}}</div>
    </div>
  </div>
  <div>
    <a href="#" class="btn btn-primary js-change-layout">Change layout</a>
  </div>
</div>


<div class="chooser chooser-zones">
  <div class="header">Drag and drop zones to new layout below:</div>
  <div class="items"></div>
</div>


<div class="change-layout-success">
  <div><i class="material-icons">check_circle</i></div>
  <div><strong>Congratulations!</strong> </div>
  <div>All zones are mapped.</div>
</div>
