<div class="form-inline">
  <label>Link with layout</label>
  <select class="form-control" name="layout[id]">

    {{#each collection.models}}
    <option {{option_value id ../params.id}} >{{name}}</option>
    {{/each}}
  </select>
  or
  <a href="{{url_for 'layout' id=params.draft_layout_id type="edit" }}" class="js-cancel">Cancel</a>
</div>

