
<div class="change-layout-from-to">
  <div class="layouts">
    <div class="layout-from">
      <div class="image"><img src="{{from.icon}}" /></div>
      <label>{{from.name}}</label>
    </div>
    <i class="material-icons">forward</i>
    <div class="layout-to">
      <div class="image"><img src="{{to.icon}}" /></div>
      <label>{{to.name}}</label>
      <a href="#" class="js-change-layout">Change</a>
    </div>
  </div>
</div>


<div class="chooser chooser-zones">
  <h5>Drag and drop zones to new layout on the left:</h5>
  <div class="items"></div>
</div>


<div class="change-layout-success">
  <i class="material-icons">check_circle</i>
  <p>All zones are mapped.</p>
  <p>Please apply changes.</p>
</div>
