<div class="form-inline">
  <i class="material-icons shared-icon">share</i>
  <select class="bm-select" name="layout[id]">
    {{#each collection.models}}
      <option {{option_value id ../params.id}} >{{name}}</option>
    {{/each}}
  </select>
</div>

