<div class="form-inline">
  <i class="material-icons">group_work</i>
  <select class="form-control" name="layout[id]">
    {{#each collection.models}}
    <option {{option_value id ../params.id}} >{{name}}</option>
    {{/each}}
  </select>
</div>

