<div class="modal-dialog new_layout">
  <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">{{title}}</h1>
    </div>
    <div class="modal-body">
       {{{body}}}

       <div class="actions">
         <button type="button" class="btn btn-warn action_apply">Discard draft</button>
         <button type="button" class="btn btn-primary action_cancel" data-dismiss="modal">Edit draft</button>
       </div>

    </div>

  </div>
</div>
