<div class="modal-dialog">
  <div class="modal-content">
    <div class="in">

    <div class="modal-body">
      {{{body}}}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary action_apply green">Apply</button>
    </div>

  </div>
</div>
