<div class="modal-dialog new_layout">
  <div class="modal-content">

    <div class="modal-body">
       {{{body}}}
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-primary action_apply green">Create layout</button>
    </div>

  </div>
</div>
