<div class="modal-dialog">
  <div class="modal-content">

    <h1>New layout</h1>

    <form>
      <div>
        <input name="name" value="Layout X" />
      </div>

      <div>
        <input name="layout_type" value="3_zones_a" />
      </div>

        <button class="hidden" type="submit">Submit</button>
    </form>


    <div class="modal-footer">
      <button type="button" class="btn btn-primary action_apply green">OK</button>
    </div>

  </div>
</div>
