<div class="modal-dialog">
  <div class="modal-content">

     {{{body}}}


    <div class="modal-footer">
      <button type="button" class="btn btn-primary action_apply green">OK</button>
    </div>

  </div>
</div>
