<div class="not-selected">
  <div class="content">
    <i class="material-icons">crop_free</i>
    <h1>Zone</h1>
    <p>Choose the zone you would like to link to a zone in a shared layout.</p>
  </div>
</div>
