<div class="not-selected">
  <div class="content">
    <span class="icon-zone"></span>
    <p>Use the dropdown menu to select a shared layout you want to preview and then select a desired target zone to create a link.</p>
  </div>
</div>
