<div class="not-selected">
  <div class="content">
    <span class="icon-zone"></span>
    <p>You can link a zone in the layout by pointing it to a zone in the shared layout. Blocks from the shared layout zone will then be displayed in the linked zone.</p>
    <p>Multiple zones in this layout can be linked to zones from different shared layouts.</p>
  </div>
</div>
