{{#if parameters.autoplay}}
  <i class="autoplay glyphicon glyphicon-play"></i>
{{/if}}

{{#if parameters.navigation}}
  <i class="navigation navigation-prev glyphicon glyphicon-menu-left"></i>
  <i class="navigation navigation-next glyphicon glyphicon-menu-right"></i>
{{/if}}

{{#if parameters.pagination}}
  <i class="pagination glyphicon glyphicon-option-horizontal"></i>
{{/if}}

<span class="speed">{{speed parameters.speed}} s</span>
