name: Frontend

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

jobs:
  frontend:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ~6.4.0

      - run: composer update --prefer-dist

      - run: yarn install
      - run: yarn global add grunt-cli
      - run: cp grunt.json.dist grunt.json

      - run: grunt build
